

<form action="/categories/add" method="POST">
    <input type="text" name="category_name" placeholder="vehicle category"></input>
    <input type="text" name="description" placeholder = "category description"></input>
    <input type="file" name="image_path" placeholder = "image path"></input>
    <button type="submit">submit</button>
</form>