



<form action="/categories/add" method="POST">
    <input type="text" placeholder="vehicle category"></input>
    <input type="text" placeholder = "category description"></input>
    <input type="text" placeholder = "image path"></input>

</form>
