<h1>Welcome to James's Auto Dealership</h1>
<h2>The #17 dealership to get any vehicle you could want</h2>

<div id="welcome">
  <p>
    If you wish to put up a car for sale, please

  </p>
    <div id="direct_buttons">
    <button onclick="location.href='/login'" class="button">Login</button>
    or
    <button onclick="location.href='/register'" class="button">Register</button>
    </div>

  <p>
    If you just want to browse,
  </p>
    <div id="direct_buttons">
    <button onclick="location.href='/categories'" class="button">Browse Vehicles</button>
    </div>
</div>
